<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/IniciarSesionStyles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Iniciar Sesion</title>
</head>
<body>
    <div class="card" style="background-color: #b3e5fc">
        <h1 class="card-title">Inicio de Sesión</h1>
        {% if error_message %}
            <div class="alert">{{ error_message }}</div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn-primary">Ingresar</button>
        </form>
    </div>
</body>
</html>