<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interfaz de Detalles de Máquina</title>
    <link rel="stylesheet" href="{% static 'css/opciones.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto min-vh-100 sticky-top" style="width: 100px; background-color: #4C6EF5;">
                <div class="d-flex flex-column align-items-center sticky-top">
                    <div>
                        <a href="/" class="d-flex align-items-center justify-content-center p-3 text-decoration-none">
                            <i class="bi bi-box-arrow-in-left" style="color: white; font-size: 24px;"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Main Content -->
            <div class="col">
                <div class="main-content py-4">
                    <div class="content-wrapper d-flex justify-content-center align-items-center">
                        <!-- Sección izquierda -->
                        <div class="details-section">
                            <a href="/Inventario/" class="back-button">←</a>
                            <div class="machine-image">
                                <img src="{{ maquinaria.img.url }}" alt="Imagen de la maquinaria">
                            </div>
                            <div class="machine-details">
                                <p><span>N° Serie:</span> <span>{{ maquinaria.n_serie }}</span></p>
                                <p><span>Modelo:</span> <span>{{ maquinaria.modelo }}</span></p>
                                <p><span>Tipo:</span> <span>{{ maquinaria.tipo }}</span></p>
                                <p><span>Capacidad:</span> <span>{{ maquinaria.capacidad }}</span></p>
                                <p><span>Estado:</span> <span id="estado-maquinaria">{{ maquinaria.estado }}</span></p>
                                <p><span>F.Rentado:</span> <span>{{ ultima_renta.fecha_rentado|default:"--" }}</span></p>
                                <p><span>F.Devolución:</span> <span>{{ ultima_renta.fecha_devolucion|default:"--" }}</span></p>
                            </div>
                        </div>

                        <!-- Sección derecha -->
                        <div class="options-section">
                            <h3>Opciones</h3>
                            <button class="option-button">
                                <a href="/Renta/{{ maquinaria.id }}/" style="text-decoration: none; color: white;">Rentar</a>
                            </button>
                            <button class="option-button estado-boton" data-estado="En Mantenimiento">En Mantenimiento</button>
                            <button class="option-button estado-boton" data-estado="Fuera de Servicio">Fuera de Servicio</button>
                            <button class="option-button estado-boton" data-estado="Disponible">Disponible</button>
                            <div class="maintenance-info">
                                <p>Información sobre el mantenimiento</p>
                                <textarea 
                                    class="form-control" 
                                    id="mantenimiento-textarea" 
                                    rows="5" 
                                    name="informacion_mantenimiento"
                                    placeholder="Escribe información sobre el mantenimiento">{{ maquinaria.informacion_mantenimiento|default_if_none:"" }}</textarea>
                            </div>
                            <button class="option-button" id="guardar-boton">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Script -->
    <script src="{% static 'js/OpcionesScript.js' %}"></script>
</body>

</html>
